@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Open+Sans:300,400|Oswald:400,700');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size:14px
}

body {
    font-family: 'Lato', sans-serif;
    padding: 30px;
    font-size: 24px;
    background: #eaeaea
}


/**************/

.colorList {
    background: #fff;
    display: flex;
    width: 200px;
    border: 5px solid #fff;
    list-style-type: none;
}

.colorList li {
    width: 20%;
    background: #000;
    height: 30px;
    cursor: pointer;
}

#brown {
    background: brown
}

#pink {
    background: pink
}

#Yellow {
    background: yellow
}

#red {
    background: red
}

#blue {
    background: blue
}